@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Mvc.Localization
@using ARINLAB.Areas.Admin.Utils
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IViewLocalizer localizer
@using ARINLAB.Models
@model WordSentencesViewModel
@{
    string dictName = "Error";
    try
    {
        dictName = (new List<DAL.Models.Dictionary>(ViewBag.dict)).Find(p => p.Id == Model.Word.DictionaryId).Language;
    }
    catch (Exception e)
    {
        dictName = "Error";
    }

}
<div class="flex justify-between flex-col xl:flex-row py-10 h-full xl:mb-0 blog">
    <div class="xl:w-8/12 xl:px-0 px-4 flex-grow">
        <div class="row" style="margin-left:35%">
            <div class="col-2"></div>
            <div class="col-4 items-center">
                <label style="font-size:24px; font-weight:600">Arab Word : </label>
                <label class="text-success" style="font-size:30px; font-weight:600">@Model.Word.ArabWord</label>
            </div>
            <div class=" col-4">
                <label style="font-size:24px; font-weight:600">@dictName Word : </label>
                <label class="text-success" style="font-size:30px; font-weight:600">@Model.Word.OtherWord</label>
            </div>
            <div class="col-2"></div>
        </div>

        <div class="row">
            <div class="wrapper_green">
                <div class="green_table">
                    <div class="row_green header green">
                        <div class="cell">
                            @SharedLocalizer["Arab sentence"]
                        </div>
                        <div class="cell">
                            @SharedLocalizer["Transcription"]
                        </div>
                        <div class="cell">
                            @dictName @SharedLocalizer["sentence"]
                        </div>
                        <div class="cell">
                            @SharedLocalizer["Transcription"]
                        </div>
                    </div>
                    @foreach (var item in Model.WordSentences)
                    {
                        <div class="row_green">
                            <div class="cell" data-title="Turkmen">
                                @item.ArabSentence
                            </div>
                            <div class="cell" data-title="Audio">
                                @item.ArabReader
                            </div>
                            <div class="cell" data-title="Arabic">
                                @item.OtherSentence
                            </div>
                            <div class="cell" data-title="Audio">
                                @item.OtherReader
                            </div>
                        </div>
                    }


                    </div>
            </div>
            <hr />
        </div>
        <div class="row" style="margin-left:35%">
            <div class="col-2"></div>
            <div class="col-8 items-center">                
                <label class="text-success" style="font-size:30px; font-weight:600">@SharedLocalizer["Voices"]</label>
            </div>       
            <div class="col-2"></div>
        </div>
        <div class="wrapper_green">
            <div class="green_table">
                <div class="row_green header green">
                    <div class="cell">
                        @SharedLocalizer["Arab Voice"]
                    </div>
                    <div class="cell">
                        @dictName @SharedLocalizer["Voice"]
                    </div>                                  
                </div>
                @if (Model.AudioFiles != null)
                {
                    @foreach (var item in Model.AudioFiles)
                    {
                <div class="row_green">

                    <div class="cell" data-title="Audio">
                        <audio id="myAudio@(item.Id)">
                            <source src="~/@item.ArabVoice" type="audio/mpeg">
                        </audio>
                        <button class="btn btn-success" style="background-color: green; padding: 20px; border-radius: 15px;" onclick="playAudio('myAudio@(item.Id)')">PLAY</button>
                        <button class="btn btn-success" style="background-color: red; padding: 20px; border-radius: 15px;" onclick="pauseAudio('myAudio@(item.Id)')">STOP</button>
                    </div>
                    <div class="cell" data-title="Audio">
                        <audio id="myAudio@(item.Id)_o">
                            <source src="~/@item.OtherVoice" type="audio/mpeg">
                        </audio>
                        <button class="btn btn-success" style="background-color: green; padding: 20px; border-radius: 15px;" onclick="playAudio('myAudio@(item.Id)_o')">PLAY</button>
                        <button class="btn btn-success" style="background-color: red; padding: 20px; border-radius: 15px;" onclick="pauseAudio('myAudio@(item.Id)_o')">STOP</button>
                    </div>
                </div>
                        }
                    }
            </div>
        </div>
    </div>

    </div>
   
   
    <script>
        function playAudio(id) {

            var x = document.getElementById(id);
            x.play();
        }

        function pauseAudio(id) {

            var x = document.getElementById(id);
            x.pause();
        }
    </script>
